@model CreateReservationDto
@{
    ViewData["Title"] = "AddReservation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post">
    <label>Name</label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />
    <label>Email</label>
    <input type="text" asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
    <br />
    <label>Phone</label>
    <input type="text" asp-for="Phone" class="form-control" />
    <span asp-validation-for="Phone" class="text-danger"></span>
    <br />
    <label>Date</label>
    <input type="date" asp-for="Date" class="form-control" />
    <span asp-validation-for="Date" class="text-danger"></span>
    <br />
    <label>Time</label>
    <input type="text" asp-for="Time" class="form-control" />
    <span asp-validation-for="Time" class="text-danger"></span>
    <br />
    <label>Person</label>
    <input type="text" asp-for="Person" class="form-control" />
    <span asp-validation-for="Person" class="text-danger"></span>
    <br />
    <label>Message</label>
    <input type="text" asp-for="Message" class="form-control" />
    <span asp-validation-for="Message" class="text-danger"></span>
    <br />
    <label>Status</label>
    <input type="text" asp-for="Durum" class="form-control" />
    <br />
    <button class="btn btn-primary">Ekle</button>
</form>

