@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Name</label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />
    <label>CategoryId</label>
    <input type="text" asp-for="CategoryId" class="form-control" />
    <span asp-validation-for="CategoryId" class="text-danger"></span>
    <br />
    <button class="btn btn-outline-success">Güncelle</button>
</form>





