@model CreateAboutDto
@{
    ViewData["Title"] = "AddAbout";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <label>Description1</label>
    <input type="text" asp-for="Description1" class="form-control" />
    <span asp-validation-for="Description1" class="text-danger"></span>
    <br />
    <label>Description2</label>
    <input type="text" asp-for="Description2" class="form-control" />
    <span asp-validation-for="Description2" class="text-danger"></span>
    <br />
    <label>Description3</label>
    <input type="text" asp-for="Description3" class="form-control" />
    <span asp-validation-for="Description3" class="text-danger"></span>
    <br />
    <label>Description4</label>
    <input type="text" asp-for="Description4" class="form-control" />
    <span asp-validation-for="Description4" class="text-danger"></span>
    <br />
    <label>ImageUrl</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
    <br />
    <button class="btn btn-primary">Ekle</button>
</form>

