
@{
    Layout = null;
}


<section id="why-us" class="why-us section-bg">
    <div class="container" data-aos="fade-up">
        <div class="row gy-4">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>Neden Mekel?</h3>
                    <p>
                        <br />
                        Damaklarda iz bırakan özgün lezzetleriyle gastronomi tutkunlarını cezbetmektedir. Şeflerimizin özenle hazırladığı menü, taze ve yerel malzemelerle zenginleştirilmiş, misafirlere benzersiz bir tat deneyimi sunmaktadır. Ayrıca, zarif tasarımı ve samimi atmosferiyle Mekel, her ziyaretçisine sadece bir yemek değil, aynı zamanda unutulmaz anılar yaşatan bir deneyim sunmaktadır.
                    </p>
                    <div class="text-center">
                        <a href="#" class="more-btn">Daha Fazla Bilgi Edinin <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 d-flex align-items-center">
                <div class="row gy-4">

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <h4>Özgün Lezzet Deneyimi</h4>
                            <p>Menümüzdeki her bir lezzet, geleneksel ve modern mutfakların ustaca harmanlanmasıyla ortaya çıkar, misafirlerimize unutulmaz bir tat deneyimi sunar.</p>
                        </div>
                    </div>

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-gem"></i>
                            <h4>Sürdürülebilirlik ve Yerel Destek</h4>
                            <p>Sürdürülebilirlik ilkeleriyle uyumlu olarak taze ve yerel malzemeler kullanılarak hazırlanan yemeklerimiz, doğayı koruma çabalarımızın bir yansımasıdır.</p>
                        </div>
                    </div>

                    <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-inboxes"></i>
                            <h4>Sıcak Atmosfer ve Profesyonel Hizmet</h4>
                            <p> Misafirlerimizi bir aile gibi kabul ediyor, güleryüzlü personelimizle kaliteli bir deneyim yaşatmayı amaçlıyoruz.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>