
@{
    Layout = null;
}


<section id="events" class="events">
    <div class="container-fluid" data-aos="fade-up">

        <div class="section-header">
            <h2>Blog</h2>
            <p>Blog <span>Sayfamıza</span> Göz Atın</p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/assets/img/elma.jpg)">
                    <h3>Elmanın Faydaları: Elma Yemek Neye İyi Gelir?</h3>
                    <p class="description">
                        Mutfakların sevilen meyveleri arasında yer alan elmanın faydaları saymakla bitmez. Vitamini kabuğundadır diyerek taze taze yiyebileceğiniz elmanın çayından, suyundan ve kurusundan da istifade edebilirsiniz. Elma, Rosaceae familyasına aittir ve dünya genelinde yaygın olarak yetiştirilmektedir.
                    </p>
                    <div class="price align-self-start"><a href="/Blog/Blog/">Devamını Oku</a></div>
                </div>
              
              
                <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/assets/img/granul.jpg)">
                    <h3>Granül Kahve Nedir? Nasıl Yapılır? Zararlı mı Faydalı mı?</h3>   
                    <p class="description">
                        Granül kahve, kahve dünyasında kullanım pratikliği ve pişme hızıyla ön plana çıkan bir çeşittir. Bu kahve formu, kahve çekirdeklerinin öğütülüp kurutulmasıyla elde edilir. Gün içinde vakit harcamadan kahve demlemek için tercih edilebilecek bir alternatiftir.
                        </p>
                    <div class="price align-self-start"><a href="/Blog/Blog/">Devamını Oku</a></div>
                </div>

                <div class="swiper-slide event-item d-flex flex-column justify-content-end" style="background-image: url(/assets/img/yaban-mersini.jpg)">
                    <h3>Yaban Mersini Nasıl Tüketilir, Yenir? Lezzetli İpuçları</h3>
                    <p class="description">
                        Ana vatanı kuzey yarımküre olan orman meyvesi, fundalık çalılarda yetişir. Adını yeni yeni duymaya başlamış olsak da aslında geçmişte Karadeniz yöresinde oldukça yaygın bir şekilde tüketildiği Osmanlı kayıtlarından bilinir.
                    </p>
                    <div class="price align-self-start"><a href="/Blog/Blog/">Devamını Oku</a></div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section>