
@{
    Layout = null;
}

<section id="chefs" class="chefs section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Şeflerimiz</h2>
            <p>Profesyonel <span>Şeflerimiz</span></p>
        </div>

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="/assets/img/chefs/chefs-mustafa.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Mustafa Turan</h4>
                        <span>Master Chef</span>
                        <p>Müşterilere unutulmaz bir yemek deneyimi sunmak için lezzetleri ustalıkla bir araya getirir ve her tabağa kendi özel dokunuşunu ekler.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="/assets/img/chefs/chefs-huru.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Hürü Durna</h4>
                        <span>Pasta Şefi</span>
                        <p>Tatlı dünyasının büyülü bir ustasıdır. Hamur işleri ve şekerleme konusunda uzmanlığı sayesinde, her bir pasta ve tatlıyı adeta bir sanat eserine dönüştürür.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <div class="chef-member">
                    <div class="member-img">
                        <img src="/assets/img/chefs/chefs-beyza.jpg" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <h4>Beyza Alıcı</h4>
                        <span>Aşçı</span>
                        <p>Mutfakta başarıyla yemekler hazırlayan ve lezzetin sırlarını bilen bir uzmandır. Malzemeleri ustaca birleştirerek her bir tabağa özel bir dokunuş katar. </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

