

<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Hakkımızda</h2>
            <p>Hakkımızda Daha Çok Bilgi Edinin</p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-7 position-relative about-img" style="background-image: url(/assets/img/about.jpg) ;" data-aos="fade-up" data-aos-delay="150">
                <div class="call-us position-absolute">
                    <h4>Bizi Arayın</h4>
                    <p>0 444 46 42</p>
                </div>
            </div>
            <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                <div class="content ps-0 ps-lg-5">
                    <p class="fst-italic">
                        Siz değerli misafirlerimize unutulmaz bir gastronomik serüven sunan Mekel, lezzetin ve özenin buluşma noktasıdır. Yemek kültürümüzü zenginleştiren eşsiz tatlar ve özenle seçilmiş malzemelerle hazırlanan yemeklerimizle, sizleri lezzet dolu bir yolculuğa çıkarmayı amaçlıyoruz.
                    </p>
                    <ul>
                        <li>
                            <i class="bi bi-check2-all"></i>
                            Mekel, uzman şeflerimizin elinden çıkan özgün ve lezzetli menüsü ile tanınır. Geleneksel ve modern mutfakları ustalıkla harmanlayarak, her damak zevkine hitap eden bir seçki sunuyoruz. Ayrıca, taze ve yerel malzemeleri kullanarak sürdürülebilir bir yaklaşım benimsemek, işimizin temel prensiplerinden biridir.
                        </li>
                        <li>
                            <i class="bi bi-check2-all"></i> Biz, sadece yemek sunan bir mekan değil, aynı zamanda sıcak bir ortam ve samimi bir deneyim sunan bir aileyiz.
                    </ul>
                    <p>
                        Sizleri Mekel'de ağırlamaktan ve lezzet dolu anılarınıza ortak olmaktan büyük bir heyecan duyuyoruz. Bize katılın, birlikte unutulmaz lezzetlere ve keyifli anılara yelken açalım.
                    </p>

                    <div class="position-relative mt-4">
                        <img src="/assets/img/about-2.jpg" class="img-fluid" alt="">
                        <a href="https://www.youtube.com/watch?v=wd52dUsJkPg&list=PLg9gsnfsIB3w9WRrScLpT7ziA5b-jIoVg&index=4&ab_channel=techcareernet" class="glightbox play-btn"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>